.restaurants-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 24px;
    color: white;
    padding-bottom: 40px;
}
.restaurants-list > button{
    background-color: var(--green);
    border: 0px;
    padding: 8px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}
.add-restaurant-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    color: white;
}
.received-orders-modal{
    color: white;
    padding: 80px 4px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: 0.3s;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 101%;
    max-width: 426px;
    z-index: 3;
    background-color: rgb(88, 88, 88);
    overflow: hidden;
}
.individual-order-div{
    position: fixed;
    width: 100%;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    height: 100%;
    max-height: 573px;
    overflow-y: scroll;
}
.individual-order-img{
    border-radius: 10px;
    object-fit: cover;
    height: 150px;
    width: 100%;

}
.order-status-btn{
    background-color: var(--green);
    color: white;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    padding: 4px 8px;
    cursor: pointer;
    width: 100%;
}
.pointer-none-scroll{
    opacity: 0.4;
    pointer-events: none;
    overflow: hidden;
    height: 0px;
    visibility: hidden;
}
.restaurant-add-name{
    border-radius: 10px;
    border: 0px;
    padding: 8px;
    background-color: rgb(158, 158, 158);
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.product-modal-cancel{
    background-color: transparent;
    color: white;
    border: 0px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
}
#fileInput::file-selector-button{
   color: var(--green);
   background-color: transparent;
   border: 1px solid var(--green);
   border-radius: 5px;
   padding: 4px;
}
.custum-file-upload {
    height: fit-content;
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    border: 2px dashed var(--green);
    background-color: transparent;
    border-radius: 10px;
  }
  
.custum-file-upload .icon {
    filter: brightness(0) saturate(100%) invert(61%) sepia(11%) saturate(2686%) hue-rotate(98deg) brightness(100%) contrast(78%);
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.7;
  }
  
.custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
.custum-file-upload .text span {
    display: none;
  }
  


@media (max-height:670px) {
    .received-orders-modal{
        padding-top: 70px;
        padding-bottom: 10px;
    }
    .individual-order-img{
        height: 100px;
    }
    .individual-order-div p {
        font-size: 12px;
    }
}