.restaurants-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 24px;
    color: white;
    padding-bottom: 40px;
}
.restaurants-list > button{
    background-color: var(--green);
    border: 0px;
    padding: 8px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}
.add-restaurant-form{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    color: white;
}
.received-orders-modal{
    color: white;
    padding: 80px 4px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: 0.3s;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 101%;
    max-width: 426px;
    z-index: 3;
    background-color: rgb(88, 88, 88);
}
.individual-order-div{
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    height: 100%;
    max-height: 573px;
    overflow-y: scroll;
}
.individual-order-img{
    border-radius: 10px;
    object-fit: cover;
    height: 150px;
    width: 100%;

}
.order-status-btn{
    background-color: var(--green);
    color: white;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    padding: 4px 8px;
    cursor: pointer;
    width: 100%;
}

@media (max-height:670px) {
    .received-orders-modal{
        padding-top: 70px;
        padding-bottom: 10px;
    }
    .individual-order-img{
        height: 100px;
    }
    .individual-order-div p {
        font-size: 12px;
    }
}