.restaurant-card-div{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.restaurant-image{
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: 180px;
    border-radius: 10px;
    min-height: 180px;
}
.lazyload,
.lazyloading {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 0.3s;
}
.card-name{
    color: white;
    font-weight: 700;
    font-size: 22px;
}
.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scooter{
    scale: 1.5;
    margin-right: 12px;
}
.delivery-price{
    color: white;
    font-weight: 600;

}