.restaurant-card-div{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
    cursor: pointer;
}
.restaurant-image{
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
.card-name{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scooter{
    filter: invert(1);
    scale: 1.5;
    margin-right: 12px;
}
.delivery-price{
    color: white;
    font-weight: 600;

}