.navbar-client-div{
    display:flex;
    align-items: center;
    padding: 0px 40px;
    justify-content: space-between;
    width: 100vw;
    max-width: 500px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    background-color: var(--green);
}
.icon{
    filter: invert(1);
    scale: 1.5;
}