.navbar-client-div{
    display: flex;
    transition: 0.3s;
    align-items: center;
    padding: 0px 40px;
    justify-content: space-between;
    width: 100vw;
    max-width: 500px;
    height: 60px;
    position: fixed;
    background-color: var(--green);
}
.icon{
    filter: invert(1);
    scale: 1.5;
    cursor: pointer;
}
.hideNav{
    bottom: -70px;
}
.showNav{
    bottom: 0px;
}   
.cart-qty{
    background-color: var(--green);
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 2;
    top: -16px;
    right: -18px;
}