.orders-to-deliver{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    color: white;
}
.sign-out-delivery{
    width: 100%;
    color: white;
    background-color: var(--green);
    border: 0px;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}
.individual-order-div-delivery{
    width: 100%;
    margin-top: 90px;
    padding: 8px ;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.individual-order-img-delivery{
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    border-radius: 10px;
    object-fit: cover;
    height: 150px;
    width: 100%;

}
@media (max-height:700px) {
    .individual-order-div-delivery{
        row-gap: 4px;
        font-size: 12px;
    }
    .order-status-btn{
        font-size: 14px;
    }
}