.orders-to-deliver{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    color: white;
}
.sign-out-delivery{
    width: 100%;
    color: white;
    background-color: var(--green);
    border: 0px;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}
.individual-order-div-delivery{
    width: 100%;
    margin-top: 90px;
    padding: 8px ;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.individual-order-img-delivery{
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    border-radius: 10px;
    object-fit: cover;
    height: 150px;
    width: 100%;
}
.current-order{
    width: 100%;
    border: 3px dashed var(--green);
    padding: 12px;
}
.flex-order-current{
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: end;
    cursor: pointer;
}
.confetti-div{
    z-index: 4;
    width: 100%;
    position: fixed;
    top: 0px;
}
@media (max-height:700px) {
    .individual-order-div-delivery{
        row-gap: 4px;
        font-size: 12px;
    }
    .order-status-btn{
        font-size: 14px;
    }
}