.dashboard{
    padding: 8px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;
}
.home-dashboard{
    width: 100%;
    position: relative;
    padding-bottom: 60px;
}
.dashboard-div{
    position:relative;
    height: 100vh;
}
.search-bar{
    width: 100%;
    background-color: rgba(172, 169, 169, 0.452);
    border: 0px;
    padding: 8px 40px;
    border-radius: 8px;
    font-size: 22px;
    color: white;
    caret-color: var(--green);
    transition: 0.2s;
    margin-bottom: 16px;
}
.search-bar:focus{
    border: 0px;
    box-shadow: 0px 0px 0px 2px var(--green);
    outline: none;
}
.search-bar::placeholder{
    color: rgba(255, 255, 255, 0.418);
}
.search-bar-magnification{
    position: absolute;
    filter: invert(1);
    scale: 1.2;
    left: 16px;
    top:14px;
}
.cart-div{
    margin-top: 70px;
    width: 100%;
    max-height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-item-div{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
    align-items: center;
    margin-bottom: 12px;    
}
.cart-item-list{
    height: fit-content;
    overflow: scroll;
    overflow-x: hidden;
}
.cart-div-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
}
.place-order-btn{
    background-color: var(--green);
    border: 0px;
    padding: 12px 24px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}
.confirm-order-btn{
    background-color: var(--green);
    border: 0px;
    padding: 12px 24px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    width: 80%;
}
.cart-item-img{
    object-fit: cover;
    border-radius: 10px;
    width: 150px;
    height: 100px;
}
.trash{
    background-color: transparent;
    border: 0px;
    color: red;
    scale: 1.5;
    cursor: pointer;
}
.cart-item-name{
    font-size: 24px;
    
}
.empty{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    font-size: 32px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.empty button{
    background-color: var(--green);
    color: white;
    border: 0px;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
}
.order-modal{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position:fixed;
    bottom: 0px;
    width: 100%;
    max-width: 426px;
    transition: 0.3s;
    background-color: rgb(88, 88, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 140px;
    overflow: hidden;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.address-area{
    max-width: 300px;
    height: 50px;
    resize: none;
    background-color: gray;
    color: white;
    font-size: 18px;
    margin-top: 4px;
    border-radius: 10px;
    padding: 4px 8px;
}
.tip-btn{
    background-color: gray;
    border: 0px;
    padding: 4px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    width: 100%;
}

.order-review{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.error-area{
    box-shadow: 0px 0px 0px 2px rgba(255,0,0,1);
}
.payment-div{
    display: flex;
    column-gap: 4px;
}
.payment-div button{
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 40px;
    border: 0px;
}
.active{
    background-color: var(--green);
}
.inactive{
    background-color: gray;
}
.profile-div{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    color: white;
}
.profile-phone{
    font-weight: 500;
    margin-bottom: 24px;
    background-color: transparent !important;
    font-size: 20px !important;
    padding: 0px !important;
    max-width: 130px !important;
}

.sign-out{
    color: white;
    background-color: var(--green);
    border: 0px;
    padding: 8px 0px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}
@media(max-width:350px){
    .cart-item-div{
        padding-right: 10px;
    }
    .dashboard{
        padding: 8px;
    }
}
@media(max-height:800px){
    .order-modal{
        padding-top: 40px;
        transition: 0.3s;
    }
    .cart-item-list{
        max-height: 70%;
    }
    .cart-div-bottom{
        margin-bottom: 30px;
    }
    .open{
        height: 97% !important;
        z-index: 3;
    }
    .cart-div{
        height: 70%;
    }
}