.dashboard{
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 20px;
}
.dashboard-div{
    position:relative;
}
.search-bar{
    width: 100%;
    background-color: rgba(172, 169, 169, 0.452);
    border: 0px;
    padding: 8px 40px;
    border-radius: 8px;
    font-size: 22px;
    color: white;
    caret-color: var(--green);
    transition: 0.2s;
    margin-bottom: 16px;
}
.search-bar:focus{
    border: 0px;
    box-shadow: 0px 0px 0px 2px var(--green);
    outline: none;
}
.search-bar::placeholder{
    color: rgba(255, 255, 255, 0.418);
}
.search-bar-magnification{
    position: absolute;
    filter: invert(1);
    scale: 1.2;
    left: 32px;
    top:36px;
}
