.login-page-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    padding: 80px 0px;
    width: 100%;
}
.login-form h2{
    color: black;
}
.login-button{
    width: 69%;
    background-color: rgb(50, 187, 120);
    border: 0px;
    padding: 4px 16px;
    color: white;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
}
.input{
    min-width: 69%;
    background-color: rgba(172, 169, 169, 0.815);
    border: 0px;
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    caret-color: rgb(50, 187, 120);
    transition: 0.2s;
}
.input:focus{
    border: 0px;
    box-shadow: 0px 0px 0px 2px rgb(50, 187, 120);
    outline: none;
}
.input::placeholder{
    color: rgba(240, 238, 238, 0.842);
}
.remember-me{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}
.remember-me-checkbox-false{
    width: 20px;
    height: 20px;
    border: 2px solid var(--red);
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(50, 187, 120);
}
.remember-me-checkbox-true{
    width: 20px;
    height: 20px;
    background-color: rgb(50, 187, 120);
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}
.register-button{
    color: rgb(50, 187, 120);
    text-decoration: none;
}
.fa-check{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(105%) contrast(105%);
}
.error{
    color: red;
    font-weight: 700;
    max-width: 250px;
    text-align: center;
}