.restaurant-name{
    color: white;
    text-transform: capitalize;
}
.individual-image{
    object-fit: cover;
    width: 100vw;
    max-width: 425px;
    max-height: 180px;
    min-height: 180px;
    opacity: 0.6;
}
.restaurant-individual-div{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;
}
.add-product-btn{
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 8px;
    border: 0px;
    outline: 0px;  
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin-top: 12px;
}
.add-product-icon{
    color: var(--green);
    scale: 1.5;
}
.products-list{
    padding: 20px;
    width: 100%;
    display: flex;
    row-gap: 16px;
    flex-direction: column;
}
.individual-back{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(59, 56, 56, 0.877);
    z-index: 2;
    color: white;
    position: absolute;
    top: 20px;
    left: 10px;
}