.restaurant-name{
    color: white;
    font-size: 32px;

}
.individual-image{
    object-fit: cover;
    width: 100vw;
    max-width: 425px;
    max-height: 180px;
    min-height: 180px;
    opacity: 0.6;
}
.restaurant-individual-div{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;
}
.add-product-btn{
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 8px;
    border: 0px;
    outline: 0px;  
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin-top: 12px;
}
.add-product-icon{
    color: var(--green);
    scale: 1.5;
}
.products-list{
    padding: 20px;
    width: 100%;
    display: flex;
    row-gap: 16px;
    flex-direction: column;
}
.individual-back{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(59, 56, 56, 0.877);
    z-index: 2;
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
}
.product-modal{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position:fixed;
    bottom: 0px;
    width: 100%;
    max-width: 426px;
    transition: 0.3s;
    background-color: rgb(88, 88, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    overflow: hidden;
}
.open{
    height: 80%;
}
.close{
    height: 0px;
    visibility:hidden;
}
.close-btn{
    cursor: pointer;
    background-color: rgb(51, 49, 49);
    border: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: absolute;
    right: 24px;
    top: 24px;
}
.pointer-none{
    opacity: 0.4;
    pointer-events: none;
}
.add-product-form{
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
}
.add-product-form > input[type="text"], input[type="number"]{
    border-radius: 10px;
    border: 0px;
    padding: 8px;
    background-color: rgb(158, 158, 158);
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.file-product::file-selector-button {
    background-color: rgb(105, 105, 105);
    font-weight: bold;
    color: var(--green);
    padding: 0.5em;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
}
.product-modal-submit{
    cursor: pointer;
    border: 0px;
    color: white;
    font-size: 18px;
    background-color: var(--green);
    border-radius: 10px;
    padding: 8px 0px;
}
.product-view-modal{
    color: white;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position:fixed;
    bottom: 0px;
    width: 100%;
    max-width: 426px;
    transition: 0.3s;
    background-color: rgb(88, 88, 88);
    display: flex;
    flex-direction: column;

}
.product-modal-image{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
}
.product-details{
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.buttons-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.qty-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    
}
.product-name{
    text-transform: capitalize;
    background-color: transparent;
    border: 0px;
    color: white;
}   
.editable{
    pointer-events: all;
}
.noedit{
    pointer-events: none;
}

.delete-btn{
    background-color: red;
    color: white;
    padding: 8px;
    border: 0px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.edit-btn{
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 8px;
    border: 0px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.product-price{
    font-size: 22px !important;
    background-color: transparent !important;
    border: 0px;
    color: white;
    padding-right: 0px;
    /* margin-right:-32px; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price-div{
    display: flex;
    align-items: center;
    font-size: 22px !important;
}