.restaurant-name{
    color: white;
    font-size: 32px;

}
.individual-image{
    object-fit: cover;
    min-width: 100%;
    width: 100vw;
    max-width: 425px;
    max-height: 180px;
    min-height: 180px;
    opacity: 0.6;
}
.restaurant-individual-div{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;
    padding-bottom: 60px;
}
.add-product-btn{
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 8px;
    border: 0px;
    outline: 0px;  
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin-top: 12px;
}
.add-product-icon{
    color: var(--green);
    scale: 1.5;
}
.products-list{
    overflow-x: hidden;
    padding: 20px;
    width: 100%;
    display: flex;
    row-gap: 16px;
    flex-direction: column;
}
.individual-back{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(59, 56, 56, 0.877);
    z-index: 2;
    color: white;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.product-modal{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position:fixed;
    bottom: 0px;
    width: 100%;
    max-width: 426px;
    transition: 0.3s;
    background-color: rgb(88, 88, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    overflow: hidden;
}
.open{
    height: 99%;
    z-index: 3;
    min-height: 90%;
}
.close{
    height: 0px;
    min-height: 0%;
    visibility:hidden;
}
.close-btn{
    cursor: pointer;
    background-color: rgb(51, 49, 49);
    border: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: absolute;
    right: 24px;
    top: 24px;
}
.pointer-none{
    opacity: 0.4;
    pointer-events: none;
    overflow-y: hidden;
}
.add-product-form{
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
}
.add-product-form > input[type="text"], input[type="number"]{
    border-radius: 10px;
    border: 0px;
    padding: 8px;
    background-color: rgb(158, 158, 158);
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.file-product::file-selector-button {
    background-color: rgb(105, 105, 105);
    font-weight: bold;
    color: var(--green);
    padding: 0.5em;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
}
.product-modal-submit{
    cursor: pointer;
    border: 0px;
    color: white;
    font-size: 18px;
    background-color: var(--green);
    border-radius: 10px;
    padding: 8px 0px;
}
.product-view-modal{
    color: white;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position:fixed;
    bottom: 0px;
    width: 100%;
    max-width: 426px;
    transition: 0.3s;
    background-color: rgb(88, 88, 88);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;

}
.product-modal-image{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    max-height: 280px;
    object-fit: cover;
}
.product-details{
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.buttons-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px;
}
.qty-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px 20px;
    
}
.qty-change{
   background-color: transparent;
   color: white;
   border: 0px;
   scale: 2;
   cursor: pointer;
}
.productQty{
    font-size: 23px;
    font-weight: 700;
}
.product-name{
    text-transform: capitalize;
    background-color: transparent;
    border: 0px;
    color: white;
}   
.editable{
    pointer-events: all;
}
.noedit{
    pointer-events: none;
}

.delete-btn{
    background-color: red;
    color: white;
    padding: 8px;
    border: 0px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.edit-btn{
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 8px;
    border: 0px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.product-price{
    font-size: 22px !important;
    background-color: transparent !important;
    border: 0px;
    color: white;
    padding-right: 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price-div{
    display: flex;
    align-items: center;
    font-size: 22px !important;
}
.add-to-cart-btn{
    background-color: var(--green);
    border-radius: 20px;
    padding: 10px 20px;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.dialog-box-open{
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    transition: 0.3s;
    background-color: var(--green);
    max-width: fit-content;
    padding: 4px 20px;
    position: absolute;
    color: white;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
}
.dialog-box-closed{
    transition: 0.3s;
    background-color: var(--green);
    max-width: fit-content;
    padding: 6px 24px;
    position: absolute;
    color: white;
    left: 50%;
    top: -60px;
    transform: translateX(-50%);
}
.dialog-cart-open{
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    transition: 0.3s;
    background-color: red;
    max-width: 90%;
    padding: 4px 20px;
    position: absolute;
    color: white;
    left: 50%;
    top: 45px;
    transform: translateX(-50%);
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
}
.dialog-cart-closed{
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background-color: red;
    max-width: 90%;
    padding: 6px 24px;
    position: absolute;
    color: white;
    left: 50%;
    top: -90px;
    transform: translateX(-50%);
    font-size: 16px;
}
.dialog-order-open{
    z-index: 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    transition: 0.3s;
    background-color: var(--green);
    width: 90%;
    padding: 4px 20px;
    position: absolute;
    color: white;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
}
.dialog-order-closed{
    z-index: 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    transition: 0.3s;
    background-color: var(--green);
    width: 90%;
    padding: 4px 20px;
    position: absolute;
    color: white;
    left: 50%;
    top: -95px;
    transform: translateX(-50%);
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
}
.x{
    font-weight: 900;
    font-size: 24px;
}
.remove-restaurant{
    background-color: red;
    color: white;
    border: 0px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
@media (max-width:375px) {
    .product-modal{
        left: 0px;
    }
    .product-view-modal{
        left: 0px;
    }
    
}
@media (max-height:600px) {
    .product-modal-image{
        max-height: 180px;
    }
}