@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    --green: rgba(50, 187, 120)

  }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
.hidden{
    display: none;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-space{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 4px;
}
body{
    background-color: rgba(0, 0, 0, 0.822);
    scroll-behavior: smooth;
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
}
.App{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 400px;
}

::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
  }
